<div class="forgot-password-container">
  <div class="row justify-content-center align-items-center">
    <div class="forgot-password-logo justify-content-center mb-3 mb-md-0"></div>
    <!-- Formulario para enviar enlace -->
    <form
      [formGroup]="formpasswordReset"
      *ngIf="!isEmailSent"
      (ngSubmit)="sendResetLink()"
      class="form-forgot-password"
    >
      <div class="text-content text-center mb-4">
        <span class="display-5 fw-bold title__text">Reset Password</span>
        <p class="lead subtitle__text">Please enter your details</p>
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              formpasswordReset.get('email')?.touched &&
              formpasswordReset.get('email')?.invalid
          }"
        />
        <div
          *ngIf="
            formpasswordReset.get('email')?.invalid &&
            formpasswordReset.get('email')?.touched
          "
          class="invalid-feedback"
        >
          Please enter a valid email.
        </div>
      </div>

      <div class="d-grid">
        <button
          type="submit"
          class="btn btn-lg btn-submit"
          [disabled]="!formpasswordReset.get('email')?.valid || isLoading"
        >
          @if (isLoading) {
          <span>Send Link...</span>
          } @else {
          <span>Send Link</span>
          }
        </button>
      </div>
    </form>

    <!-- Formulario para nueva contraseña -->
    <form
      [formGroup]="formpasswordReset"
      *ngIf="isEmailSent"
      (ngSubmit)="onSubmit()"
      class="form-forgot-password"
    >
      <div class="text-content text-center mb-4">
        <span class="display-5 fw-bold title__text">Reset Password</span>
        <p class="lead subtitle__text">Please enter your details</p>
      </div>

      <div class="row g-3 mb-3">
        <div class="col-12">
          <label class="form-label">Code</label>
          <input
            type="text"
            inputmode="numeric"
            class="form-control"
            formControlName="code"
            minlength="6"
            maxlength="6"
            (keypress)="onKeyPress($event)"
            (input)="formatCodeInput($event)"
            [ngClass]="{
              'is-invalid':
                formpasswordReset.get('code')?.touched &&
                formpasswordReset.get('code')?.invalid
            }"
          />
          <div class="invalid-feedback">Please enter a valid 4-digit code</div>
        </div>
      </div>

      <div class="row g-3 mb-3">
        <div class="col-12">
          <label class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            [ngClass]="{
              'is-invalid':
                formpasswordReset.get('password')?.touched &&
                formpasswordReset.get('password')?.invalid
            }"
          />
          <div
            *ngIf="
              formpasswordReset.get('password')?.invalid &&
              formpasswordReset.get('password')?.touched
            "
            class="invalid-feedback"
          >
            Password is required.
          </div>
        </div>
      </div>
      <div class="row g-3 mb-3">
        <div class="col-12">
          <label class="form-label">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="confirmPassword"
            [ngClass]="{ 'is-invalid': formpasswordReset.get('confirmPassword')?.dirty && 
                                          (formpasswordReset.get('confirmPassword')?.invalid || 
                                           formpasswordReset.errors?.['passwordMismatch'])
                        }"
          />

          <div
            *ngIf="formpasswordReset.errors?.['passwordMismatch'] && 
                               formpasswordReset.get('confirmPassword')?.dirty"
            class="invalid-feedback"
          >
            Passwords do not match
          </div>
        </div>
      </div>

      <div class="d-grid">
        <button
          type="submit"
          class="btn btn-lg btn-submit"
          [disabled]="formpasswordReset.invalid || formpasswordReset.errors?.['passwordMismatch']"
        >
          @if (isLoading) {
          <span>Send Save...</span>
          } @else {
          <span>Save</span>
          }
        </button>
      </div>
    </form>
  </div>
</div>
