<!-- register.component.html -->
<div class="register-container">
  <div class="row justify-content-center align-items-center">
    <div class="login-logo justify-content-center mb-5 mb-md-0"></div>
    <div class="mb-5 mb-md-0">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
        class="form-register"
      >
        <!-- Título y subtítulo -->
        <div class="text-content text-center mb-2">
          <span class="display-5 fw-bold color__text title__text">Welcome</span>
          <p class="lead color__text subtitle__text">
            Please enter your details
          </p>
        </div>

        <!-- Fila: Nombre y Apellido -->
        <div class="row g-3 mb-2">
          <div class="col-md-6">
            <label class="form-label color__text">Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('name')?.touched &&
                  registerForm.get('name')?.invalid
              }"
            />
            <div
              *ngIf="
                registerForm.get('name')?.invalid &&
                registerForm.get('name')?.touched
              "
              class="invalid-feedback"
            >
              Please enter a valid first name (min 2 characters)
            </div>
          </div>
          <div class="col-md-6">
            <label class="form-label color__text">Last Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('lastName')?.touched &&
                  registerForm.get('lastName')?.invalid
              }"
            />
            <div
              *ngIf="
                registerForm.get('lastName')?.invalid &&
                registerForm.get('lastName')?.touched
              "
              class="invalid-feedback"
            >
              Please enter a valid last name (min 2 characters)
            </div>
          </div>
        </div>

        <!-- Fila: Email y País -->
        <div class="row g-3 mb-2">
          <div class="col-md-6">
            <label class="form-label color__text">Email Address</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('email')?.touched &&
                  registerForm.get('email')?.invalid
              }"
            />
            <div
              *ngIf="
                registerForm.get('email')?.invalid &&
                registerForm.get('email')?.touched
              "
              class="invalid-feedback"
            >
              Please enter a valid email address
            </div>
          </div>
          <div class="col-md-6">
            <label class="form-label color__text">Country</label>
            <select
              class="form-select"
              formControlName="country"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('country')?.touched &&
                  registerForm.get('country')?.invalid
              }"
            >
              <option value="" disabled>Select your country</option>
              <option *ngFor="let country of countries" [value]="country">
                {{ country }}
              </option>
            </select>
            <div
              *ngIf="
                registerForm.get('country')?.invalid &&
                registerForm.get('country')?.touched
              "
              class="invalid-feedback"
            >
              Please select your country
            </div>
          </div>
        </div>

        <!-- Fila: Marketplace y Phone Number -->
        <div class="row g-3 mb-2">
          <div class="col-md-6">
            <label class="form-label color__text">Phone Number</label>
            <input
              type="tel"
              class="form-control"
              formControlName="phone"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('phone')?.touched &&
                  registerForm.get('phone')?.invalid
              }"
            />
            <div
              *ngIf="
                registerForm.get('phone')?.invalid &&
                registerForm.get('phone')?.touched
              "
              class="invalid-feedback"
            >
              Please enter a valid phone address
            </div>
          </div>
          <div class="col-md-6">
            <label class="form-label color__text">Amazon Marketplace</label>
            <select
              class="form-select"
              formControlName="marketplace"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('marketplace')?.touched &&
                  registerForm.get('marketplace')?.invalid
              }"
            >
              <option value="" disabled>Select your marketplace</option>
              <option *ngFor="let item of marketplaces" [value]="item.id">
                {{ item.marketPlace }}
              </option>
            </select>
            <div
              *ngIf="
                registerForm.get('marketplace')?.invalid &&
                registerForm.get('marketplace')?.touched
              "
              class="invalid-feedback"
            >
              Please select your marketplace
            </div>
          </div>
        </div>

        <!-- Fila: Contraseña y Confirmación -->
        <div class="row g-3 mb-2">
          <div class="col-md-6">
            <label class="form-label color__text">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('password')?.touched &&
                  registerForm.get('password')?.invalid
              }"
            />
            <div
              *ngIf="
                registerForm.get('password')?.invalid &&
                registerForm.get('password')?.touched
              "
              class="invalid-feedback"
            >
              Password must be at least 8 characters
            </div>
          </div>

          <div class="col-md-6">
            <label class="form-label color__text">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="confirmPassword"
              [ngClass]="{ 'is-invalid': registerForm.get('confirmPassword')?.touched && 
                                                                              (registerForm.get('confirmPassword')?.invalid || 
                                                                               registerForm.errors?.['passwordMismatch'])
                                                            }"
            />

            <div
              *ngIf="registerForm.errors?.['passwordMismatch'] && 
                                                                   registerForm.get('confirmPassword')?.touched"
              class="invalid-feedback"
            >
              Passwords do not match
            </div>
          </div>
        </div>

        <!-- Checkbox Remember Password -->
        <div class="mb-2 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="rememberPassword"
            formControlName="rememberPassword"
          />
          <label class="form-check-label color__text" for="rememberPassword"
            >Remember password</label
          >
        </div>

        <!-- Botón Register -->
        <div class="d-grid">
          <button
            mat-raised-button
            color="primary"
            class="btn btn-lg btn-submit"
            type="submit"
            [disabled]="isLoading || registerForm.invalid || registerForm.errors?.['passwordMismatch']"
          >
            @if (isLoading) {
            <span>Register...</span>
            } @else {
            <span>Register</span>
            }
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
