<div class="login-container">
  <div class="row justify-content-center align-items-center">
    <div class="login-logo justify-content-center mb-3 mb-md-0"></div>
    <div class="login-form justify-content-center">
      <div class="header">
        <span class="header__title">Welcome</span>
        <span class="header__subtitle">Please enter your details</span>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email Input (Bootstrap) -->
        <div class="mb-1 input-container">
          <label for="email" class="form-label">Email</label>
          <div class="input-group">
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              [ngClass]="{
                'is-invalid':
                  loginForm.get('email')?.invalid &&
                  (loginForm.get('email')?.dirty ||
                    loginForm.get('email')?.touched)
              }"
            />
            <span class="input-group-text">
              <i class="bi bi-envelope"></i>
            </span>
          </div>
          <div
            *ngIf="
              loginForm.get('email')?.invalid &&
              (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
            "
            class="invalid-feedback"
          >
            <div *ngIf="loginForm.get('email')?.errors?.['required']">
              Email is required
            </div>
            <div *ngIf="loginForm.get('email')?.errors?.['email']">
              Please enter a valid email
            </div>
          </div>
        </div>

        <!-- Password Input (Bootstrap) -->
        <div class="mb-1 input-container">
          <label for="password" class="form-label">Password</label>
          <div class="input-group">
            <input
              [type]="hidePassword ? 'password' : 'text'"
              class="form-control"
              id="password"
              formControlName="password"
              [ngClass]="{
                'is-invalid':
                  loginForm.get('password')?.invalid &&
                  (loginForm.get('password')?.dirty ||
                    loginForm.get('password')?.touched)
              }"
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="hidePassword = !hidePassword"
            >
              <i
                class="bi"
                [ngClass]="{
                  'bi-eye': !hidePassword,
                  'bi-eye-slash': hidePassword
                }"
              ></i>
            </button>
          </div>
          <div
            *ngIf="
              loginForm.get('password')?.invalid &&
              (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched)
            "
            class="invalid-feedback"
          >
            <div *ngIf="loginForm.get('password')?.errors?.['required']">
              Password is required
            </div>
            <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>

        <div class="row-options">
          <div class="form-check remember-checkbox">
            <input
              formControlName="rememberMe"
              class="form-check-input"
              type="checkbox"
              id="checkDefault"
            />
            <label class="form-check-label" for="checkDefault">
              Remember password
            </label>
          </div>

          <div class="forgot-link">
            <a href="/forgot-password">Forgot password?</a>
          </div>
        </div>

        <div class="divider">
          <div class="divider-line"></div>
          <div class="divider-text">Or log in with</div>
          <div class="divider-line"></div>
        </div>

        <div class="social-login">

        </div>

        <!-- Login Button -->
        <button
          class="btn btn-primary login-btn"
          type="submit"
          [disabled]="isLoading || loginForm.invalid"
        >
          @if (isLoading) {
          <span>Logging in...</span>
          } @else {
          <span>Log In</span>
          }
        </button>

        <!-- Register Link -->
        <div class="register-link">
          <u>Don't have an account?</u> <a href="/register">Register here</a>
        </div>
      </form>
    </div>
  </div>
</div>
