<div class="login-container">
  <div class="row justify-content-center align-items-center">
    <div class="login-logo justify-content-center mb-3 mb-md-0"></div>
    <div class="login-form justify-content-center">
      <div class="header">
        <span class="header__title">Bienvenido</span>
        <span class="header__subtitle">Por favor ingresa tus datos</span>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email Input (Bootstrap) -->
        <div class="mb-1 input-container">
          <label for="email" class="form-label">Correo</label>
          <div class="input-group">
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="usuario@dcn.co.cu"
              (blur)="onEmailBlur()"
              [ngClass]="{
                'is-invalid':
                  loginForm.get('email')?.invalid &&
                  (loginForm.get('email')?.dirty ||
                    loginForm.get('email')?.touched)
              }"
            />
            <span class="input-group-text">
              <i class="bi bi-envelope"></i>
            </span>
          </div>
          <div
            *ngIf="
              loginForm.get('email')?.invalid &&
              (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
            "
            class="invalid-feedback"
          >
            <div *ngIf="loginForm.get('email')?.errors?.['required']">
              El correo es obligatorio
            </div>
            <div *ngIf="loginForm.get('email')?.errors?.['email']">
              Por favor, introduzca un correo electrónico válido
            </div>
          </div>
        </div>

        <!-- Password Input (Bootstrap) -->
        <div class="mb-1 input-container">
          <label for="password" class="form-label">Contraseña</label>
          <div class="input-group">
            <input
              [type]="hidePassword ? 'password' : 'text'"
              class="form-control"
              id="password"
              formControlName="password"
              [ngClass]="{
                'is-invalid':
                  loginForm.get('password')?.invalid &&
                  (loginForm.get('password')?.dirty ||
                    loginForm.get('password')?.touched)
              }"
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="hidePassword = !hidePassword"
            >
              <i
                class="bi"
                [ngClass]="{
                  'bi-eye': !hidePassword,
                  'bi-eye-slash': hidePassword
                }"
              ></i>
            </button>
          </div>
          <div
            *ngIf="
              loginForm.get('password')?.invalid &&
              (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched)
            "
            class="invalid-feedback"
          >
            <div *ngIf="loginForm.get('password')?.errors?.['required']">
              La contraseña es obligatoria
            </div>
            <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
              La contraseña debe tener al menos 6 caracteres
            </div>
          </div>
        </div>

        <div class="row-options">
          <div class="form-check remember-checkbox">
            <input
              formControlName="rememberMe"
              class="form-check-input"
              type="checkbox"
              id="checkDefault"
            />
            <label class="form-check-label" for="checkDefault">
              Recordar Contraseña
            </label>
          </div>

          <div class="forgot-link">
            <a href="/forgot-password">¿Cambiar contraseña?</a>
          </div>
        </div>

        <div class="social-login">

        </div>

        <!-- Login Button -->
        <button
          class="btn btn-primary login-btn"
          type="submit"
          [disabled]="isLoading || loginForm.invalid"
        >
          @if (isLoading) {
          <span>iniciando...</span>
          } @else {
          <span>Iniciar sesión</span>
          }
        </button>

        <!-- Register Link -->
        <div class="register-link">
          <u>¿No tengo una cuenta?</u> <a href="/register">Regístrate aquí</a>
        </div>
      </form>
    </div>
  </div>
</div>
