.container{
  margin: 0 auto;
  border: 1px solid #e6edff;
  border-radius: 10px;
}

.text-table {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  display: block;
}

.mat-table-responsive {
  width: 100%;
  overflow-x: auto;
}

mat-chip {
  color: white !important;
  font-weight: 500;
}

.high-trend {
  background-color: #4caf50 !important;
}

.medium-trend {
  background-color: #ff9800 !important;
}

.low-trend {
  background-color: #f44336 !important;
}

.mat-paginator {
  background-color: #f5f5f5;
  border-radius: 0 0 4px 4px;
}
