<div class="dashboard-container">
  <div class="sidebar full-screen-safe" [ngClass]="{ collapsed: isCollapsed }">
    <div class="logo border-bottom">
      <div class="logo-icon"></div>
    </div>
    <div class="d-flex flex-column justify-content-between h-100">
      <!-- Menú superior -->
      <nav class="menu">
        <div class="menu-item" [class.active]="activeItem === 'inicio'" (click)="setActive('inicio')">
          <i class="bi bi-house menu-icon" [title]="isCollapsed ? 'Inicio' : ''"></i>
          <span class="menu-text">Inicio</span>
        </div>
        <div class="menu-item" [class.active]="activeItem === 'prepo' || activeItem === 'productos' || activeItem === 'almacenes'" (click)="setActive('prepo')">
          <i class="bi bi-gem menu-icon" [title]="isCollapsed ? 'Preposicionamiento' : ''"></i>
          <span class="menu-text">Preposicionamiento</span>
        </div>
        <div class="menu-item menu-subitem" [class.active]="activeItem === 'productos'" (click)="setActive('productos')">
          <i class="bi bi-box-seam menu-icon" [title]="isCollapsed ? 'Productos' : ''"></i>
          <span class="menu-text">Productos</span>
        </div>
        <div class="menu-item menu-subitem" [class.active]="activeItem === 'almacenes'" (click)="setActive('almacenes')">
          <i class="bi bi-buildings menu-icon" [title]="isCollapsed ? 'Almacenes' : ''"></i>
          <span class="menu-text">Almacenes</span>
        </div>
        <div class="menu-item" [class.active]="activeItem === 'configuracion'" (click)="setActive('configuracion')">
          <i class="bi bi-gear menu-icon" [title]="isCollapsed ? 'Configuración' : ''"></i>
          <span class="menu-text">Configuración</span>
        </div>
      </nav>

      <!-- Menú inferior -->
      <nav class="menu">
        <div class="menu-item" [class.active]="activeItem === 'ayuda'" (click)="setActive('ayuda')">
          <i class="bi bi-question-circle menu-icon" [title]="isCollapsed ? 'Ayuda' : ''"></i>
          <span class="menu-text">Ayuda</span>
        </div>
        <div class="menu-item" [class.active]="activeItem === 'contactenos'" (click)="setActive('contactenos')">
          <i class="bi bi-chat-dots menu-icon" [title]="isCollapsed ? 'Contáctenos' : ''"></i>
          <span class="menu-text">Contáctenos</span>
        </div>
        <div class="menu-item danger" (click)="logout()">
          <i class="bi bi-box-arrow-right menu-icon" [title]="isCollapsed ? 'Salir' : ''"></i>
          <span class="menu-text">Salir</span>
        </div>
      </nav>
    </div>
  </div>

  <!-- Botón de toggle flotante -->
  <button class="toggle-btn btn btn-light border text-center" (click)="toggleCollapse()">
    <p class="m-0 d-flex align-items-center justify-content-center" style="height: 100%;">@if (isCollapsed) {
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path d="M10.78 19.03a.75.75 0 0 1-1.06 0l-6.25-6.25a.75.75 0 0 1 0-1.06l6.25-6.25a.749.749 0 0 1 1.275.326.749.749 0 0 1-.215.734L5.81 11.5h14.44a.75.75 0 0 1 0 1.5H5.81l4.97 4.97a.75.75 0 0 1 0 1.06Z" fill="#00ABB3"></path>
      </svg>
    } @else {
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path d="M13.22 19.03a.75.75 0 0 1 0-1.06L18.19 13H3.75a.75.75 0 0 1 0-1.5h14.44l-4.97-4.97a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215l6.25 6.25a.75.75 0 0 1 0 1.06l-6.25 6.25a.75.75 0 0 1-1.06 0Z" fill="#00ABB3"></path>
      </svg>
    }</p>
  </button>

  <div class="main__content">
    <div class="row gy-1 mt-3">
      <div class="col-11">
        <div class="row gy-3 justify-content-between">
          <div class="col-xs-12 col-sm-12 col-lg-7">
            <span class="welcome__title">{{ title }}</span>
            <span class="welcome__subtitle">{{ subtitle }}</span>
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-5">
            <app-profile [username]="this.user.name"></app-profile>
          </div>
        </div>
      </div>
      <div class="col-11" style="margin-top: 1rem">
        @if (activeItem == 'inicio') { <app-home></app-home> }
        @if (activeItem == 'productos') { <app-productos-list></app-productos-list> }
        @if (activeItem == 'almacenes') { <app-almacenes-list></app-almacenes-list> }
        @if (activeItem == 'configuracion') { <app-configuracion></app-configuracion> }
      </div>
    </div>
  </div>
</div>
